:root {
    --terminix-main-green: #319b42;
    --terminix-alt-green: #4b9560;
    --terminix-orange: #ea7600;
    --terminix-grey: #4b4f54;
    /* --main-bg-color: var(--terminix-main-green); */
    --main-bg-color: rgb(109, 109, 223);
    --usc-border-radius: 10px;

}

.centered-container {
    display: flex;
    justify-content: center;
    height: 100vh; /* Make the container take up the full viewport height */
    max-width: 1000px; /* Set the maximum width for your content */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding for spacing */
}


@media(max-width: 600px) {
    body {
        /* //TODO Change width */
    }
    .presentation {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        border: 2px solid purple;
    }
    .senior-photo-container {
        justify-content: flex-start;
    }
    .download-resume-container {
        justify-content: flex-end;
    }
    nav {
        position: fixed;
        background: green;
        height: 100%;
        width: fit-content;
        max-width: 50%;
        text-align: left;
        top: 0;
        right: 0;
        z-index: 2;
    }
    nav ul {
        margin: 0px 3px 0px 3px;
        /* align-self: center; */
        border: 2px solid blue;
        flex-direction: column;
        align-items: center;
        
    }
    nav ul li {
        display: block; /* this creates a weird black bar on the right side */
        display: flex;
        text-align: center;
        border: 2px solid #319b42;
        /* overflow: hidden; */
    }
    nav ul li a {
        /* width: fit-content; */
        border: 2px solid black;
    }
} 
