* {
   /* padding: 2px; */
}

.wood-frame-container {
   display: flex;
   justify-content: center;
}

.wood-frame {
   display: flex;
   padding: 10px;

   flex-direction: column;
   /* border: 4px solid rgb(248, 225, 225); */
   width: fit-content;
   border-radius: 15px;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
}

.wood-frame.dbl {
   justify-content: center;
   align-items: center;
   background: blue;
}

.wood-bar {
   /* border: 2px solid black; */
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* justify-items: center; */
   background-image: url('../images/wood-background.jpg');
   background-color: rgba(255,255,255,.1);
   height: 40px;
   width: 800px;
   align-items: center;
   font-size: 32px;
   text-align: center;
   color: white;
   font-family: monospace;
   border: 1px solid black;
   align-self: center;
   /* background-blend-mode: lighten; */
}

.wood-bar.dbl {
   align-self: center;
   background: blue;
}

.letter-container {
   display: flex;
   justify-content: center;
   /* align-content: center; */
   align-items: center;
   font-size: 32px;
   text-align: center;
   /* border: 2px solid white; */
   width: 31px;
   height: 36px;
   color: white;
}

.btn-container {
   display: flex;
   justify-content: center;
}

.wood-btn {
   /* background: white; */
   color: black;
   padding: .6rem .75rem;
   border-radius: 15px;
   user-select: none;
   text-align: center;
   width: fit-content;
}

#generate-btn {
   background: radial-gradient(circle, rgba(255,255,193,1) 0%, rgba(142,255,0,1) 100%);
}

#random-verse {
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#random-proverb {
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#add-wood-btn {
   background: green;
}

#remove-wood-btn {
   background: rgb(212, 69, 69);
}

#remove-all-wood-btn {
   background: radial-gradient(circle, rgba(255,21,21,1) 0%, rgba(134,134,134,1) 100%);
}
#add-text-btn {
   background: white;
}

.wood-btn:hover {
   cursor: pointer;
}

.draggable-resizable {
   resize: horizontal;
   overflow: hidden;
   position: relative;
}

.draggable-element {
   position: absolute;
   width: 100px;
   height: 100px;
   background-color: #e0e0e0;
   /* cursor: move; */
}

input {
   width: 10vw;
   border-radius: 2px;
}

.handle {
   /* border: 1px solid yellow; */
   width: 100%;
   height: 100%;
   /* background-color: rgba(255, 255, 255, 0.2); */
   position: absolute;
   bottom: 0;
   right: 0;
   margin: auto;
   cursor: pointer;
}

.style-btn {
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   background: white;
   padding: 15px 5px;
   border-radius: 15px;
   user-select: none;
   cursor: pointer;
   width: 100%;
}

.styling-flex {
   display: flex;
   justify-content: center;
}

.styling-absolute {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   /* align-items: stretch; */
   /* border: 2px solid yellow; */
   position: absolute;
   top: 15vh;
   left: 20px;
}

.in-dev {
   background-image: repeating-linear-gradient(45deg,
         rgba(255, 255, 255, .5) 0px,
         rgba(255, 255, 255, .5) 10px,
         rgba(255,0,0, .5) 10px,
         rgba(255,0,0, .5) 20px
      );
}

.striped {
   background-image: repeating-linear-gradient(45deg,
         #553c9a,
         #553c9a 25px,
         #b393d3 25px,
         #b393d3 50px);
}

.wood-style-controls {
   /* border: 2px solid cyan; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.outdated-controls {
   /* border: 2px solid purple; */
   color: white;
   width: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#random-realign-btn {
   background: green;
}

#random-resize-btn {
   background: lightblue;
}

#lighten-btn {
   /* background-color: blue; */
   background-color: rgb(132, 241, 245);
   background-blend-mode: lighten;
}

#darken-btn {
   background-color: rgb(59, 183, 187);
   /* background-color: rgba(35, 108, 110, 1); */
   background-blend-mode: darken;
}

#outdated-btn {
   background-color: rgb(112, 112, 0);

}
.striped_black {
   color: white;
   font-weight: bolder;
   background-image: repeating-linear-gradient(45deg,
         black,
         black 25px,
         transparent 25px,
         transparent 50px)
}
.verse-title {
   font-weight: bold;
   color: black
}