:root {
    --terminix-main-green: #319b42;
    --terminix-alt-green: #4b9560;
    --terminix-orange: #ea7600;
    --terminix-grey: #4b4f54;
    /* --main-bg-color: var(--terminix-main-green); */
    --main-bg-color: rgb(109, 109, 223);

    --usc-border-radius: 10px;

}
* {
    /* this margine helps see stuff */
    margin: 1px; 
    padding: 0px;


}
button {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    /* background-image: url("../images/grid-background.jpg"); */
    /* background: var(--main-bg-color); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,32,43,1) 0%, rgba(0,80,128,1) 100%, rgba(0,212,255,1) 100%);
    padding-bottom: 25px;
}
.link-page {
    text-decoration: none;
    color: white;
}
.link-page::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #4b4f54;
    display: block;
    margin: auto;
    transition:.1s;
}
.link-page:hover::after {
    width: 100%;
}

header {
    height: 10vh;
    width: 95%;
    margin:auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    /* background: #00b0c7; */
}
header nav {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex: auto; 
}
header ul {
    list-style: none;
    font-size: 21px;
    /* background: pink; */
    display: flex;
    justify-content: center;
}
header ul li {
    display: flex;
    text-align: center;

    margin: 25px;
    border-radius: 15px;
    /* background-color: black; */
}

.senior-photo-container,.download-resume-container {
    height: 100%; /* this keeps objects from exceeding header height*/
    display: flex;
    /* background-color: aqua; */
}

.senior-photo-container {
    /* border: 2px solid black; */
    /* background-color: yellow; */
    justify-content: flex-start;
}
.senior-photo {
    /* object-fit: scale-down; */
    border-radius: 50%;
}
.download-resume-container {
    /* background: blueviolet; */
    justify-content: flex-end;
    align-items: center;
}
.download-resume-button {
    height: 60%;
    border-radius: 50%;
    filter: drop-shadow(0px 5px 3px black)
}
/* Grid is created in a 5 column structure */
.jobs-grid {
    /* border: 2px solid black; */
    display: grid;
    /* width: 60%; */
    width: min(70%,600px);
    align-items: stretch;
    margin: auto;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-auto-rows: 70px; 
    grid-gap: 5px;
}
/*
    CSS Classes:

    job-grid-item
        - is the css class used to display each item in the grid
    grid-job-[INSERTJOB]
        - is used to display the background office picture



    Goal: 
        -on hover
            -Scale each card by 1.1
            -Scale background image opacity to 20%
            -Display information about job
*/
.job-grid-item {
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    border: 0px solid black;
    transition: all .2s ease-in-out;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.job-grid-item img {
    border-radius: 10px;
    margin: auto;
}
.job-grid-item h3 {
    /* border: 1px solid black; still not sure what to do with this */
    border-radius: 10px;
    margin: 5px 0px 0px 0px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255,255,255,.7);
    width: fit-content;
    text-align: start;
}
.job-grid-item img {
    background-color: white;
    width: calc(100% - 4px);
    margin: auto;
    display: block;
}
.job-grid-item:hover {
    transform: scale(1.1);
}
.grid-job-title {
    display: flex;
    grid-area: 0px / 20px;
    color: white;
    /* background-color: blue; */
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}
.grid-job-terminix {
    background: url("../images/terminix-background.jpg");
    background-position: center;
    background-size: cover;
    grid-column: span 1;
    grid-row: span 7;
}
.job-info:hover {
    /* opacity: 100% !important; */
}
.grid-job-terminix:hover {
    opacity: 20%;
}
.grid-job-terminix:hover::after {
    /* content: "I terminate bugs at Terminix!";
    color: white; */
}
.grid-job-capgemini {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("../images/capgemini-background.jpg");
    background-size: cover;
    grid-row: span 5;
}
.grid-job-capgemini::after {
    opacity: 0;
}
.grid-job-capgemini:hover:after {
    opacity: 1;
}
.grid-job-capgemini:hover {
    background-blend-mode: lighten;
}
.grid-job-softdocs {
    background-image: url("../images/softdocs-background.jpg");
    background-color: rgba(138, 22, 153, .61);
    background-size: cover;
    grid-row: span 5;
    transition: .2s ease-in-out;
}
.grid-job-softdocs:hover {
    transition: .2s;
    background-blend-mode: lighten;
    cursor: pointer;
}
.grid-job-softdocs img {
    /* #5a297c */
    background-image:  linear-gradient(to right, #9660bd 50%, #5a297c 100%);
    padding-bottom: 10px;
}
.job-grid-tutoring {
    grid-row: span 3;
    background: rgba(0,212,255,1);
}
.job-grid-tutoring:hover {
    background: rgba(0,212,255,.2);
}
.presentation {
    /* background: #ea7600; */
    width: 95%;
    margin: auto;
    display: flex;
    /* align-content: center; */
}
.job-prac {
    background: url("../images/usc-horseshoe-columbia1.jpg");
    border-radius: var(--usc-border-radius);
    border: none;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: center;
    grid-column: span 1;
    grid-row: span 3;
    transition: all .2s ease-in-out;
    outline: none;
}
.blur-box img {
    opacity: 1;
    width: 50px;
}
.blur-box {
    opacity: 0;
    border-radius: var(--usc-border-radius);
    margin: auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}
.blur-box p, .blur-box img {
    margin: 5px;
}
.blur-box:hover {
    opacity: 100;
    backdrop-filter: blur(2px);
}
.job-prac:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* backdrop-filter: blur(10px); */
    /* background: url("../images/terminix-background.jpg"); */
}
.job-prac p {
    font-size: 20px;
    /* text-align: center;  */
    align-items: center;
    color: white;
}



@keyframes drop {
    
}


@media(max-width: 600px) {
    body {
        /* //TODO Change width */
    }
    .presentation {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        border: 2px solid purple;
    }
    .senior-photo-container {
        justify-content: flex-start;
    }
    .download-resume-container {
        justify-content: flex-end;
    }
    nav {
        position: fixed;
        background: green;
        height: 100%;
        width: fit-content;
        max-width: 50%;
        text-align: left;
        top: 0;
        right: 0;
        z-index: 2;
    }
    nav ul {
        margin: 0px 3px 0px 3px;
        /* align-self: center; */
        border: 2px solid blue;
        flex-direction: column;
        align-items: center;
        
    }
    nav ul li {
        display: block; /* this creates a weird black bar on the right side */
        display: flex;
        text-align: center;
        border: 2px solid #319b42;
        /* overflow: hidden; */
    }
    nav ul li a {
        /* width: fit-content; */
        border: 2px solid black;
    }
}
