.jobs-flex {
    display: flex;
    /* width: 50%; */
    margin: auto;
}
.jobs-flex-item {
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    border: 0px solid black;
    transition: all .2s ease-in-out;
    padding: 10px;
    flex-direction: column;
}
.past-work-container {
    border: 1px solid black;
    /* display: block; */
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}