*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --global--modal-border: cyan;
}

.job-grid-item {
    border: 1px solid cyan;
    /* display: flex; */
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    background: rgba(255,255,200,.4);
    background-position: center;
    background-size: cover;
    margin: 3px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    padding: 10px;
    height: 100%;
    max-height: 100%;
}
.job-grid-item img {
    /* border: 2px solid yellow; */
    padding: .25rem;
    border-radius: 10px;
    margin: auto;
    height: fit-content;
    max-width: calc(100% - 4px);
    max-height: 40%;
}
.job-grid-item h3 {
    /* border: 1px solid black; still not sure what to do with this */
    color: black;
    font-size: .5rem;
    border-radius: 10px;
    margin: 5px 0px 0px 0px;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255,255,255,.7);
    width: fit-content;
    text-align: start;
}
.grid-job-title {
    display: flex;
    grid-area: 0px / 20px;
    color: white;
    /* background-color: blue; */
    grid-column: span 2;
    justify-content: center;
    align-items: center;
}
.job-grid-item:hover {
    transform: scale(1.1);
}

.modal {
    color: black;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    background-color: white;
    border: 2px solid var(--global--modal-border);
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 800px;
    height: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal .modal-header {
    border-bottom: 1px solid var(--global--modal-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.modal .modal-header .modal-title {
    font-size: 1.5rem;
}

.modal .modal-header img {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
}

.modal .modal-header .close-modal {
    width: 30px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    outline: none;
}

.modal .modal-body {
    font-size: 1rem;
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.softdocs-img {
    padding: 5px;
    border-radius: 10px;
    background: #9660bd;
    background-image: url("../images/usc_logo.png")
}