
.modal {
    color: black;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    background-color: white;
    border: 2px solid var(--global--modal-border);
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1);
    width: 800px;
    height: 500px;
    max-width: 80%;
}
.modal .modal-header {
    border-bottom: 1px solid var(--global--modal-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.modal .modal-header .modal-title {
    font-size: 1.5rem;
}

.modal .modal-header img {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}
.modal .modal-header .close-modal {
    margin-left: auto;
    z-index: 11;
    width: 30px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    outline: none;
}
.modal-box {
    display: grid;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
    position: fixed;
    top: 0px;
    right:0px;
    bottom: 0px;
    left: 0px;
}

.modal-body {
    padding: 10px;
}







.modal-fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.modal-fade-in.active {
    opacity: 1;
    transition: opacity 2s ease-in;
}
